@font-face {
	font-family: signature;
	src: url(signature.ttf);
}

body {
    background: black;
    height : 100vh;
    color:white
}

.titre{
    font-family : signature;
    font-size : 8em;
}

.degrade-titre{
    position  : relative;
	background: linear-gradient(to right, black, 3%, rgb(37, 37, 37), 15%,  white, 75%, rgb(37, 37, 37), 97%, black);
	width: 100vw;
	height: 2px;
}

.menu_gauche{
    position : absolute;
    left: 0;
    width : 50vw;
    height : 20px;
}

.menu_gauche:hover{
    background: linear-gradient(to right, black, 6%, rgb(37, 37, 37), 30%,  white);
}

.texte_menu_gauche{
    position : absolute;
    right : 70vw;
}

.menu_droite{
    position : absolute;
    width : 50vw;
    height : 20px;
    left : 50vw;
}

.menu_droite:hover{
    background: linear-gradient(to left, black, 6%, rgb(37, 37, 37), 30%,  white);
}

.menu_droite:hover ~ .texte_menu_droite {
    color : black;
}

.menu_gauche:hover ~ .texte_menu_gauche {
    color : black;
}

.texte_menu_droite{
    position : absolute;
    left : 70vw;
}

.lmenu-divider{
    position  : relative;
	background: linear-gradient(to right, black, 3%, rgb(37, 37, 37), 15%,  white);
	width: 20vw;
	height: 2px;
}

.espace_inter_menu{
    height : 20px;
}


.lmenu-header-wrapper{
    position : absolute;
    right : 80vw;
}

.onglet{
    position : relative;
    text-decoration : none;
    color : white;
}

.onglet:hover{
    font-family : signature;
    font-size : 4em;
    color : white;
}

.vertical-divider{
    position : absolute;
    left : 20vw;
    height : 70vh;
    width : 2px;

	background: linear-gradient(to top, black, 3%, rgb(37, 37, 37), 15%,  white);
    background-color : white;
}

.reunions-wrapper{
    position : absolute;
    top : 17vh;
    left : 30vw;
    width : 60vw;
    height : 33vh;
}

.reunions-titre{
    font-family : signature;
    font-size : 7em;
}

.sous-barre{
    z-index : -1;
    position : relative;
    top : 0;
    left : 0;
    width : 50vw;
    height : 3px;
	background: linear-gradient(to right, black, 3%, rgb(0, 75, 75), 15%,  rgb(0, 150, 150), 75%, rgb(0, 75, 75), 97%, black);
}

.taches-dash{
    position : relative;
    left : 30vw;
    top :10vh;
}

.taches-dash-prio{
    position : absolute;
    left : 5vw;
}

.taches-dash-done{
    position : absolute;
    left : 10vw;
}

.taches-dash-titre{
    position : absolute;
    left : 15vw;
}

.taches-dash-proprietaire{
    position : absolute;
    left : 45vw;
}

.taches-dash-header-divider{
    position  : absolute;
    top : 3vh;
	background: linear-gradient(to right, black, 3%, rgb(37, 37, 37), 15%,  white, 75%, rgb(37, 37, 37), 97%, black);
	width: 60vw;
	height: 2px;
}

.taches-liste{
    position : absolute;
    top : 4vh;
}

.reu_date{
    position : absolute;
    left : 5vw;
    color : white;
}

.reu_lieu{
    position : absolute;
    left : 10vw;
    color : white;
}

.reu_Motif{
    position : absolute;
    left : 15vw;
    color: white;
}

.nouvelle_reu{
    position : absolute;
    left : 15vw;
    color: white;
}

.ajout{
    position : relative;
}

.secretaire{
    position : absolute;
    left : ;
    color : white;
    left : 45vw;
}

.hidden-divider1{
    position : relative;
    left : 3vw;
}

.hidden-divider2{
    position : relative;
    left : 3vw;
}

.task_line:hover .hidden-divider1{
    background: linear-gradient(to right, black, 3%, rgb(50, 50, 50), 15%,  rgb(200,200,200), 75%, rgb(50, 50, 50), 97%, black);
	width: 50vw;
	height: 1px;
}

.task_line:hover .hidden-divider2{
    position : relative;
    top : 2vh;
    background: linear-gradient(to right, black, 3%, rgb(50, 50, 50), 15%,  rgb(200,200,200), 75%, rgb(50, 50, 50), 97%, black);
	width: 50vw;
	height: 1px;
}