@font-face {
	font-family: signature;
	src: url(signature.ttf);
}

body {
    background: black;
    height : 100vh;
    color:white
}

.pass{
    position : absolute;
    top: 55vh;
}

.degrade-titre{
    position  : relative;
	background: linear-gradient(to right, black, 3%, rgb(37, 37, 37), 15%,  white, 75%, rgb(37, 37, 37), 97%, black);
	width: 100vw;
	height: 2px;
}

.menu_gauche{
    position : absolute;
    left: 0;
    width : 50vw;
    height : 20px;
}

.menu_gauche:hover{
    background: linear-gradient(to right, black, 6%, rgb(37, 37, 37), 30%,  white);
}

.texte_menu_gauche{
    position : absolute;
    right : 70vw;
}

.menu_droite{
    position : absolute;
    width : 50vw;
    height : 20px;
    left : 50vw;
}

.menu_droite:hover{
    background: linear-gradient(to left, black, 6%, rgb(37, 37, 37), 30%,  white);
}

.menu_droite:hover ~ .texte_menu_droite {
    color : black;
}

.menu_gauche:hover ~ .texte_menu_gauche {
    color : black;
}

.texte_menu_droite{
    position : absolute;
    left : 70vw;
}

.lmenu-divider{
    position  : relative;
	background: linear-gradient(to right, black, 3%, rgb(37, 37, 37), 15%,  white);
	width: 20vw;
	height: 2px;
}

.espace_inter_menu{
    height : 20px;
}


.lmenu-header-wrapper{
    position : absolute;
    right : 80vw;
}

.onglet{
    position : relative;
    font-family : signature;
    transition: transform .2s;
    display : flex;
    left : 5vw;
    color : white;
    font-size : 4em;
    text-decoration : none;
}

.onglet:hover{
    text-shadow : horizontal-shadow vertical-shadow blur color, horizontal-shadow vertical-shadow blur color;
    transform : scale(1.5);
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.vertical-divider{
    position : absolute;
    left : 20vw;
    height : 70vh;
    width : 2px;

	background: linear-gradient(to top, black, 3%, rgb(37, 37, 37), 15%,  white);
    background-color : white;
}

.avancement-wrapper{
    position : absolute;
    top : 17vh;
    left : 30vw;
    width : 60vw;
    height : 33vh;
}

.avancement-titre{
    font-family : signature;
    font-size : 7em;
}

.sous-barre{
    z-index : -1;
    position : relative;
    top : 0;
    left : 0;
    width : 50vw;
    height : 3px;
	background: linear-gradient(to right, black, 3%, rgb(0, 75, 75), 15%,  rgb(0, 150, 150), 75%, rgb(0, 75, 75), 97%, black);
}


.infos_avancement_wrapper{
    position : absolute;
    top : 35vh;
    left : 30vw;
}

.compteur_terminees_wrapper{
    position : relative;
    bottom : 2vh;
    left : 10vw;
}

.compteur_terminees{
    font-size : 4em;
}

.compteur_terminees_label{
    font-size : 1em;
}

.compteur_non_terminees_wrapper{
    position : relative;
    bottom : 27vh;
    left : 40vw;
}

.compteur_non_terminees{
    font-size : 4em;
}

.compteur_non_terminees_label{
    font-size : 1em;
}

.compteur_total_wrapper{
    position : relative;
    bottom : 15vh;
    left : 25vw;
}

.compteur_total{
    font-size : 6em;
}

.compteur_total_label{
    font-size : 1em;
}


.taches-dash{
    position : relative;
    left : 30vw;
    top :30vh;
}

.taches-dash-prio{
    position : absolute;
    left : 5vw;
}

.taches-dash-done{
    position : absolute;
    left : 10vw;
}

.taches-dash-titre{
    position : absolute;
    left : 15vw;
}

.taches-dash-proprietaire{
    position : absolute;
    left : 45vw;
}

.taches-dash-header-divider{
    position  : absolute;
    top : 3vh;
	background: linear-gradient(to right, black, 3%, rgb(37, 37, 37), 15%,  white, 75%, rgb(37, 37, 37), 97%, black);
	width: 60vw;
	height: 2px;
}

.taches-liste{
    position : absolute;
    top : 4vh;
}

.prio_0{
    position : absolute;
    left : 6vw;
    color : cyan;
}

.prio_1{
    position : absolute;
    left : 6vw;
    color : lime;
}

.prio_2{
    position : absolute;
    left : 6vw;
    color: orange;
}

.prio_3{
    position : absolute;
    left : 6vw;
    color : red;
}

.done_0{
    position : absolute;
    left : 11vw;
    color : red;
}

.done_1{
    position : absolute;
    left : 11vw;
    color : lime;
}

.nom_tache_liste{
    position : absolute;
    text-align : left;
    left : 15vw;
    width : 30vw;
    color: white;
}

.nv_tache_label{
    position : relative;
    text-align : left;
    text-decoration : none;
    left : 15vw;
    width : 30vw;
    color: white;
}

.nv_tache_label:hover{
    position : relative;
    right : 30vw;
    width : 30vw;
    color: white;
}

.respo{
    position : absolute;
    left : 45vw;

    color : white;
}

.hidden-divider1{
    position : relative;
    left : 3vw;
}

.hidden-divider2{
    position : relative;
    top:10vh;
    left : 3vw;
}

.task_line:hover .hidden-divider1{
    background: linear-gradient(to right, black, 3%, rgb(50, 50, 50), 15%,  rgb(200,200,200), 75%, rgb(50, 50, 50), 97%, black);
	width: 50vw;
	height: 1px;
}

.task_line:hover .hidden-divider2{
    position : relative;
    top : 2vh;
    background: linear-gradient(to right, black, 3%, rgb(50, 50, 50), 15%,  rgb(200,200,200), 75%, rgb(50, 50, 50), 97%, black);
	width: 50vw;
	height: 1px;
}

.creer_tache{
    text-decoration : none;
}

/*.creer_tache:hover{
    position : relative;
    right : 0;
}*/

.creer_tache:hover .hidden-divider1-creer{
    background: linear-gradient(to right, black, 3%, rgb(50, 50, 50), 15%,  rgb(200,200,200), 75%, rgb(50, 50, 50), 97%, black);
	width: 50vw;
	height: 1px;
}

.creer_tache:hover .hidden-divider2-creer
{
    background: linear-gradient(to right, black, 3%, rgb(50, 50, 50), 15%,  rgb(200,200,200), 75%, rgb(50, 50, 50), 97%, black);
	width: 50vw;
	height: 1px;
}

.nom_tache_liste{
    position : absolute;
    text-align : left;
    left : 15vw;
    width : 30vw;
    color: white;
}