{% extends 'main.html' %}

    {% block header %}
    {% endblock header %}
    {% block container %}
    <div class="box_header"></div>
<center>    <div class="titre">The Project Manager</div></center> 
    <br><br>

    <center>

      <form action="" , method="POST" class="connexion">
        <input type="text" name="username" autocomplete="off" placeholder="Identifiant" required class="usr text-input from-center">
        <br />
        <input type="password" name="password" autocomplete="off" placeholder="Password" required class="pass text-input to-left to-right">
        <br />

        <input type="submit" class="submit_btn" value="Connexion" />
      </form>
    </center>
    {% endblock container%}
