<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="../static/css/style.css"
      rel="stylesheet"
      type="text/css"/>
    <title>Page d'accueil</title>
  </head>
  <body>

    <div class="box_header"></div>

    <center>

    {% block content %}

    <div class="message" class="msg">{{ message }}</div>

    {% endblock %}

      <form action="" , method="post">
        <br />
        <div class="wrapper">
        <label>
          <input id="user_name" class="champ" type="text" name="name" placeholder="Pseudonyme"/>
        </label>
        <br />
        <br />
        <label for="user_password">
          <input id="user_password" class="champ" type="password" name="password" placeholder="mot-de-passe"/>
        </label>
        </div>
        <br />

        <input type="submit" class="submit_btn" value="Connexion" />
      </form>
    </center>
  </body>
</html>
