<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link
    href="../static/css/style_overview.css"
    rel="stylesheet"
    type="text/css"/>
    <title>Overview</title>

    {% block header %}
    {% endblock header %}
</head>
<body>

<center>

    <div class="titre">The Project Manager</div>
    <div class="degrade-titre"></div>
    <a class="menu_gauche" href="/sandbox"></a>
    <a class="menu_droite" href="/overview"></a>
    <span class="texte_menu_gauche" href="/sandbox">Mon Profil</span>
    <span class="texte_menu_droite">Project Overview</span>
    <div class ="espace_inter_menu"></div>
    <div class="degrade-titre"></div>    
    <br><br>

    <div class="lmenu-header-wrapper">
        <div class="msg_lmenu">Menu</div><br>
        <div class="lmenu-divider"></div>
        <a class="onglet" href="/overview">Avancement</a>
        <div class="onglet">Gantt</div>
        <a class="onglet" href="/reunions">Réunions</a>
        <div class="onglet">Notes</div>
        <div class="onglet">Réglages</div>

    </div>
    <div class="vertical-divider"></div>

    {% block container %}
    {% endblock container%}

    
</center>

</body>
</html>