<center>
    <h1>Milo</h1>
    <br>
    <h2>Généralités</h2>

    <video width="320" height="240" controls>
        <source src={{ url_for('static', filename="Généralités.mp4") }} type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    <br>
    <h3>Dérivées</h3><br>
    <video width="320" height="240" controls>
        <source src={{ url_for('static', filename="Dérivées.mp4") }} type="video/mp4">
        Your browser does not support the video tag.
    </video>
</center>