{% extends 'menusBP.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link
    href="../static/css/reunions.css"
    rel="stylesheet"
    type="text/css"/>
    <title>Overview</title>

    {% block header %}
    {% endblock header %}
</head>
<body>

{% block container %}

<center>

<div class="vertical-divider"></div>

<div class="reunions-wrapper">
    <div class="reunions-titre">Réunions</div>
</div>

<div class="taches-dash">
    <div class="taches-dash-header">
        <span class="taches-dash-Prio">Date</span>
        <span class="taches-dash-done">Lieu</span>
        <span class="taches-dash-titre">Motif</span>
        <span class="taches-dash-proprietaire">Secrétaire</span>
        <div class="taches-dash-header-divider"></div>
    </div>
    <div class="taches-liste">
    {% block content %}
            <a class="task_line" href="/reunions">
                <div class="hidden-divider1"></div>
                <span class="nouvelle_reu"> + Nouvelle réunion</span>
                <div class="hidden-divider2"></div>
            </a><br
        {% for element in infos %}
            <a class="task_line" href="/reunions">
                <div class="hidden-divider1"></div>
                <span class="reu_date">{{element[1]}}</span>
                <span class="reu_lieu">{{element[2]}}</span>
                <span class="reu_motif">{{element[4 ]}}</span>
                <span class="secretaire">{{secretaire}}</span>
                <div class="hidden-divider2"></div>
            </a>
            <br>
        {% endfor %}
    {% endblock %}
            </div>
</div>
<div class="temps_restant"></div>

</center>


{% endblock container%}