<link
      href="../static/css/style_visualiseur.css"
      rel="stylesheet"
      type="text/css"/>

<center>

    <div class="titre">The Project Manager</div>
    <div class="degrade-titre"></div>
    <a class="menu_gauche" href="/sandbox"></a>
    <a class="menu_droite" href="/overview"></a>
    <span class="texte_menu_gauche" href="/sandbox">Mon Profil</span>
    <span class="texte_menu_droite">Project Overview</span>
    <div class ="espace_inter_menu"></div>
    <div class="degrade-titre"></div>    
    <br><br>

    <div class="lmenu-header-wrapper">
        <div class="msg_lmenu">Menu</div><br>
        <div class="lmenu-divider"></div>
        <div class="onglet">Avancement</div>
        <div class="onglet">Gantt</div>
        <div class="onglet">Notes</div>
        <div class="onglet">Réglages</div>

    </div>
    <div class="vertical-divider"></div>
    <div class="vertical-divider-right"></div>

    {% block content%}
    <div class="titre_divider"></div>

    <form action="" class="formulaire" method='POST'>
        <div class="wrapper_date_debut">
            <span class="cal_debut_label">Début : </span><input class="cal_debut" type="date"/>
        </div>
        <div class="wrapper_date_fin">
            <span class="cal_fin_label">Fin : </span><input type="date" class="cal_fin"/>
        </div>

        <div class="wrapper_actions_tache">

            <select name="menu_choix_utilisateur_tache" id="choix_individu" class="choix_individu">
                <option disabled> -- Membre -- </option>
                {% if infos_taches[0][2]==0 %}
                    <option value="Cosimo" selected>Cosimo</option>
                {% else %}
                <option value="Cosimo">Cosimo</option>
                {% endif %}
                {% if infos_taches[0][2]==1 %}
                    <option value="Thomas" selected>Thomas</option>
                {% else %}
                <option value="Thomas">Thomas</option>
                {% endif %}
                {% if infos_taches[0][2]==2 %}
                    <option value="Kieran" selected>Kieran</option>
                {% else %}
                <option value="Kieran">Kieran</option>
                {% endif %}
                {% if infos_taches[0][2]==3 %}
                    <option value="Arthur" selected>Arthur</option>
                {% else %}
                <option value="Arthur">Arthur</option>
                {% endif %}
            </select>
            
            <select name="choix_prio" id="choix_prio" selected=infos_taches[4] class="choix_prio">
                <option value="" disabled> -- Priorité -- </option>
                {% if infos_taches[0][4]==0 %}
                    <option value="prio_0" selected> 0 - Jalon </option>
                {% else %}
                <option value="prio_0"> 0 - Jalon </option>
                {% endif %}
                {% if infos_taches[0][4]==1 %}
                    <option value="prio_1" selected>1 - Très haute importance</option>
                {% else %}
                    <option value="prio_1">1 - Très haute importance</option>
                {% endif %}
                {% if infos_taches[0][4]==2 %}
                    <option value="prio_2" selected>2 - A traiter ensuite</option>
                {% else %}
                    <option value="prio_2">2 - A traiter ensuite</option>
                {% endif %}
                {% if infos_taches[0][4]==3 %}
                    <option value="prio_3" selected>3 - Optionnel</option>
                {% else %}
                    <option value="prio_3">3 - Optionnel</option>
                {% endif %}
            </select>
        </div>

        <div class="actions-dash">
            <div class="actions-dash-header">
                <span class="actions-dash-Prio">Prio</span>
                <span class="actions-dash-done">Fini</span>
                <span class="actions-dash-titre">Prochaines actions</span>
                <span class="actions-dash-proprietaire">Respo</span>
                <div class="actions-dash-header-divider"></div>
            </div>
            <div class="actions-liste">
                <a href="creer_action/{{id}}" class="creer_action">
                    <div class="hidden-divider1"></div>
                        <div class="nv_action_label">(+) Nouvelle action</div>
                    <div class="hidden-divider2"></div>
                </a>

                {% for i in range(n) %}
                    <a class="action_line" href="/vueactions/{{actions[i][3]}}">
                        <div class="hidden-divider1"></div>
                        <span class="prio_{{actions[i][2]}}">•</span>
                        {% if actions[i][6]==1 %}
                            <span class="done_{{actions[i][6]}}">✓</span>
                        {% else %}
                        <span class="done_{{actions[i][6]}}">✗</span>
                        {% endif %}
                        <span class="nom_actions_liste">{{actions[i][3]}}</span>
                        <span class="Respo">
                            <select name="choix_respo" id="choix_respo" selected=infos_actions[4] class="choix_prio">
                                <option value="" disabled> -- Respo -- </option>
                                {% if infos_actions[0][4]==0 %}
                                    <option value="cosimo" selected> Cosimo </option>
                                {% else %}
                                <option value="cosimo"> Cosimo </option>
                                {% endif %}
                                {% if infos_actions[0][4]==1 %}
                                    <option value="thomas" selected> Thomas </option>
                                {% else %}
                                    <option value="thomas"> Thomas </option>
                                {% endif %}
                                {% if infos_actions[0][4]==2 %}
                                    <option value="kieran" selected> Kieran </option>
                                {% else %}
                                    <option value="kieran">Kieran</option>
                                {% endif %}
                                {% if infos_actions[0][4]==3 %}
                                    <option value="arthur" selected> Arthur </option>
                                {% else %}
                                    <option value="arthur">Arthur</option>
                                {% endif %}
                            </select>
                        </span>
                        <div class="hidden-divider2"></div>
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>

    </center>

        <div class="messages-wrapper">
            {% for i in range(len_messages|int) %}
                <div class="ind_msg_wrapper">
                    <span class="sender">[{{individus[i]}}] </span>
                    <span class="body">{{messages[i][4]}}</span>
                    <br>
                </div> 
            {% endfor %}
        </div>
    <center>

        <input type="label" class="nom_tache_label" name="nom_tache" value="{{infos_taches[0][1]}}"/>
        <input type="submit" class="save_btn" value="Sauvegarder" />
    </form>
    <form action="/overview">
        <input type="button" class="retour" href="/overview" value="<< Retour" />
    </form>
    <form action="/supprimer_tache/{{infos_taches[0][3]}}">
        <input type="submit" class="supprimer_tache" value="Supprimer" />

    </form>
    <form action="/changer_statut_tache/{{infos_taches[0][3]}}" method="POST" class="switch-tache">
        {% if not infos_taches[0][0] %}
            <input type="submit" class="terminer_tache" value="En cours" />
        {% else %}
            <input type="submit" class="annuler_tache_terminee" value="Terminée" />
        {% endif %}
    </form>
    <form action="/envoyer_message/{{id}}" method="POST" class="switch-tache">
        <div class="wrapper-message">
            <input name="message" type="label" class="label_message" placeholder="message"/>
            <input type="submit" class="bouton_message" value="Envoyer" />
        </div>
    </form>
    {% endblock %}


</center>